# fly.toml app configuration file generated for tge-key-tracker
app = "tge-key-tracker"
primary_region = "ams"

[build]

[http_service]
  internal_port = 8080
  force_https = true

  # IMPORTANT for realtime bot:
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
